aside {
	background-image: linear-gradient(rgba(5, 41, 70, 0.9), rgba(0, 0, 0, 0.7)), url('/img/backgrounds/sidebar.png');
	background-size: contain;
	color: #fff;
	width: 250px;
	margin-top: 50px;
	transform: translate3d(0, 0, 0);
}