@import '@/styles/common/_variables.scss';

.auth-page-container {
	padding: 2rem;

	a {
		&:after {
			display: none;
		}
	}

	p {
		line-height: 1.5;
	}

	.auth-title {
		font-size: 1.7rem;
		color: $black;
	}

	.button {
		width: 100%;
	}

	.forget-password-text {
		margin: -0.3rem 0 0 0;
		color: $light-grey;
		font-size: 0.9rem;
	}

	.register-text {
		font-size: 0.9rem;
	}
}